html {
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

*{
	font-family: 'Rock Salt', cursive;
	font-weight: normal;
	color:white;
}

.logoDiv{
	height:150px;
	width:1440px;
	margin: 0px auto;
	background-color: #233743;
}

.logoSpan{
	width:100%;
	height: 145px;
	font-size: 60px;
	text-align: center;
	line-height: 145px;
	display: block;
	float: left;
	clear: left;
	margin: auto;
}

.social{
	display: flex;
	justify-content: flex-end;
	height: 60px;
	width:32%;
	height:100px;
	list-style: none;
	
}

.social .fa{
	height:60px;
	width:50px;
	margin:15px;
	
}

.interiorDiv,.interiorDiv img{
	height:700px;
	width:1440px;
	
}
.interiorDiv{
	margin: 20px auto;
	
}

.accordionDiv{
	height:200px;
	width:1440px;
	border:2px solid black;
	margin: 20px auto;
	color:#233743;
}

.tripleBoxDiv{
	height:300px;
	width:1440px;
	margin: 20px auto;
	text-align: center;
	background-color: transparent;
	color:#233743;
}

.indvBox{
	display: inline-block;
	height: 250px;
	width:28%;
	border:2px solid black;
	margin: 20px 10px;
	text-align: center;
	color:#233743;

}

.commentsDiv{
	display: flex;
	height:300px;
	width:1440px;
	border: 2px solid #233743;
	margin: 20px auto;
	background-color: #233743;
}

#reservationsForm{
	width:60%;
	height:300px;
	display: flex;
	justify-content: space-around;
	
}

#commentBox{
	display: flex;
	flex-wrap: wrap;
	height: 200px;
	width:350px;
	resize:none;
	margin: 10px 0px 0px 20px;
	outline:2px solid #5c1f0d;
	border:0px;
	font-size: 18px;
	color:#233743;
}

#commentBoxDiv{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	height: 300px;
	width:350px;

}

#textBox{
	height:50px;
	width: 350px;
	margin: 10px 0px 0px 20px;
	outline: 2px solid #5c1f0d;
	border:0px;
	font-size: 18px;
	color:#233743;
}
#inputTextDiv{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 300px;
	width: 350px;
	
}

#subButton{
	display: flex;
	flex-wrap: wrap;
	height:50px;
	width:350px;
	outline: 2px solid #5c1f0d;
	border:0px;
	font-size: 18px;
	color:#233743;
	margin: 10px 0px 0px 20px;
}
