ul{
	list-style: none;
	text-align: left;
	padding: 0;
}
li{
   list-style:none;    
   overflow:hidden;
   padding:5px 0;
   position:relative;
}
li label{
   float:left;
   background:#fff;
   padding-right:10px;
}
li span{
   float:right;
   background:#fff;
   padding-left:10px;
}
.dots{
   border-top:dotted 4px #006B8A;
   position:absolute;   
   top:15px;
   left:0;
   width:100%;
   z-index:-1;
   color: white;
}
.leftPhotos, .rightPhotos{
    width: 300px;
    display: inline-block;
    background: #233743;
}
.leftPhotos{   
  float: left;
}
.menuLeftImage{
  display:flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.menuRightImage{
  float: left;  
}
.fa{
    position: relative;
    display: inline-block;
}
.fa .tooltiptext {
    visibility: hidden;
    background-color: #233743;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
 	font-size: 12px;
    width: 240px;
    height: 100px;
    top: 100%;
    left: 50%; 
    margin-left: -100px; /* Use half the width */
    position: absolute;
    z-index: 2;
    text-overflow: initial;
    white-space: normal;
    overflow: auto;
    text-align: left;
}
.fa:hover .tooltiptext {
    visibility: visible;
}
.fa .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #233743 transparent;
}